{% extends 'game/base.html' %}
{% load static %}

{% block title %}
Movemon
{% endblock title %}

{% block body %}
<div class="d-flex flex-row">
  <div class="w-75">
    <table class="table table-dark table-bordered text-center ">
      {% for line in game.map %}
      <tr>
        {% for cell in line %}
        <td class="h3">
          <!--  Позиция игрока -->
          {% if cell == "@" %} 
            &#128050;
          <!--  Позиция покемона -->
          {% elif cell == "?" %}
            &#10067;
          <!--  Кактус -->
          {% elif cell == "#" %}
            &#127797;
          {% else %}
            &nbsp;
          {% endif %}
        </td>
        
        <!-- <td style="background-color: {{color}}"></td> -->
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="w-25">
    <div class="border"  style="height: 48.5%!important">
      <h5>Player info</h5>
      <ul>
        <li>{{ game.lvl }} LVL</li>
        <li>{{ game.cautchs|length }} movemons catched</li>
        <li>{{ game.balls }} moveballs</li>
      </ul>
      
    </div>
    <div class="border" style="height: 48.5%!important">
      {% if game.state == 'found_movemon' %}
        <p>Found a Movemon!!!</p>
        <p>Press A to catch</p>
      {% elif game.state == 'found_moveball' %}
        <p>Found a 3 moveballs</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}

press a for start
</table>

{% endblock %}